<tr class="list-item"  id="<%= dom_id(list_item) %>">
  <% list_fields.each_with_index do |field,index| %>
    <% if index == 0 %>
      <td><%= link_to resolve_field(list_item,field), resource_path(list_item) %></td>
    <% else %>
      <td><%= resolve_field(list_item,field) %></td>
    <% end %>
  <% end %>
  <td>
    <%= render partial: "list_item_actions",locals:{resource:list_item} %>
  </td>
</tr>