<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => resource_class.model_name.human,
                                   :default => "Edit #{resource_class.model_name.human}") %></h1>
</div>
<% if resource.errors.any? %>
<div id="error_explanation" class="alert">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h3><%= "#{pluralize(resource.errors.count, "error")} prohibited this #{resource_class.model_name.human} from being saved:" %></h3>
	<ul>
		<% resource.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= render :partial => 'form' %>
